<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{Value_Covid}}
    <br>
    <br>
    {{Value_PM25}}
    <br>
    <br>
    {{Value_WForcast}}
    <br>
    <br>
    {{Value_WToday}}
    <!-- 
    {{Value_WToday}}
    <br>
    {{Value_WForcast}}
    <br>
    {{Value_Covid_TH}}
    <br>
    {{Value_Covid_World}}
     -->
</body>
</html>