{% extends "layout_web.html" %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="bg-image">
      <div class="container">
        <!-- 1 -->
        <div class="row mb-3">
          <div class="col-12">
            <div class="rounded-lg shadow bg-light">
              <div class="row p-3 justify-content-md-center">
                <div class="col-lg-3 text-center">
                  <img
                    class="img-fluid"
                    src="{{ url_for('static',filename='logo_dpu.png')}}"
                    alt=""
                  />
                </div>
                <div
                  class="col-lg-9 text-center align-self-lg-center margin-nameproject"
                >
                  <h5 class="font-weight-bold">
                    การพัฒนาต้นแบบการนำเสนอข้อมูลอัตโนมัติผ่านเว็บแบบเรียลไทม์
                    โดยเทคโนโลยี API
                  </h5>
                  <h5 class="font-weight-bold">
                    Real-time web-based automated prototype development By API
                    technology
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="row">
          <div class="col-lg-12">
            <div class="shadow rounded-lg" style="background-color: #efdbff">
              <div class="p-4">
                <h3 class="font-weight-bold font-effect-shadow-multiple">
                  สภาพอากาศปัจจุบัน
                </h3>
                <hr />
                <div class="row justify-content-between align-items-end">
                  <div class="col-lg-8">
                      <h5 class="font-weight-bold">
                        ดัชนี AQI(PM2.5):
                        <span class="ml-1 font-weight-normal text-danger"
                          >{{Value_PM25}}</span
                        >
                      </h5>
                    </div>
                  </div>

                  <div class="col-lg-4 text-center">
                    <img
                      class="img-fluid"
                      src="{{ url_for('static',filename='man_report_shadow.png')}}"
                      alt=""
                      style="height: 290px; width: auto"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #efdbff">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12 text-right mt-4 mb-2">
        <h5 class="font-weight-bold">จัดทำเว็บไซต์โดย</h5>
        <h5>นางสาววรันธร บุญจันทร์ 625159010021</h5>
        <h5>วิทยาลัยนวัตกรรมด้านเทคโนโลยีและวิศวกรรมศาสตร์</h5>
        <h5>มหาวิทยาลัยธุรกิจบัณฑิตย์</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}
